@model MyLifeClient.Models.DiaryEntry

<style>
    .container {
       width: 70%;
    }
    .container .pre-scrollable{
        min-height: 420px;
    }
    .list {
        background-color: white;
        min-height: 540px;
    }
</style>


<div class="container p-2">
    <div class="pl-3 pr-3 list">
        <div class="text-right p-2 pt-3">
            <h5>@Model.Date.Day.@Model.Date.Month.@Model.Date.Year</h5>
        </div>
        <div class="container pre-scrollable scroll-block" style="width: 100%;">
            @if (Model.Picture != null)
            {
                <a><img src="@ByteConvert.GetStringFromBytes(Model.Picture)" width="200" class="float-left mr-3" /></a>
            }
            <a>@Model.Text</a>
        </div>
        <div class="p-3">
            @using (Html.BeginForm("UpdateDiaryEntry", "Home", FormMethod.Get))
            {
                <input type="hidden" name="inputId" value="@Model.Id" />
                <input class="btn btn-outline-info" type="submit" value="Изменить">
            }
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Diary" class="text-info">⇦ Назад</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}