@{
    ViewData["Title"] = "Главная";
}
<style>
    body {
        background-image: url(../../wwwroot/img/background-white-leaves.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="text-center">
    <p>Главная</p>
</div>
