@model MyLifeClient.Models.DiaryEntry

<style>
    .container {
        width: 70%;
    }

    .list {
        background-color: white;
        min-height: 560px;
    }
</style>


<div class="container">
    <div class="pl-3 pr-3 list">
        @using (Html.BeginForm("UpdateDiaryEntry", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Picture" />
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input asp-for="Date" class="form-control"/>
                        </td>
                        <td class="pl-3">
                            <p class="mb-1 mt-2">Изменить изображение:</p>
                            <input name="imgFile" type="file" class="mt-0" />
                        </td>
                        <td>
                            <input id="shouldDelete" name="shouldDelete" type="checkbox" value="true">
                            <input name="shouldDelete" type="hidden" value="false">
                            <label>Удалить фото?</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group" style="width: 100%;">
                <textarea asp-for="Text" class="form-control" rows="16"></textarea>
            </div>
            <table>
                <tr>
                    <td class="p-1">
                        <div>
                            <input type="submit" value="Сохранить" class="btn btn-outline-info" />
                        </div>
                    </td>
                    <td class="pl-3">
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="mt-3">
        <a asp-action="Diary" class="mt-2 text-info">⇦ Назад</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}